body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  min-height: 100vh;
}

li {
  list-style-type: none;
  text-align: center;
}

a {
  text-decoration: none;
}

/* header section */

header {
  display: flex;
  align-items: center;
  margin: 0.4em 2em;
  justify-content: space-between;
}

nav {
  flex-basis: 72%;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

.nav-list a:hover {
  color: #ff9900;
}

nav ul li a:hover {
  border-bottom: 3px solid #f4ce14;
}

header img,
footer img {
  width: 10em;
}

.login-button {
  background-color: #f4ce14;
  border-radius: 10px;
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
}

.login-button:hover {
  background-color: #bfa524;
  cursor: pointer;
}

.hamburger {
  color: #f4ce14;
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
}

ul a,
.second-section h1,
span {
  color: black;
  font-weight: bold;
}

/* .first-section */

.first-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #065139;
  padding: 1em 4.4em;
  height: fit-content;
}

.first-section h1 {
  color: #f4ce14;
  font-size: 2.8rem;
}

.first-section h2 {
  margin-top: -1.8em;
}

.first-section h2,
.first-section p {
  color: rgb(224, 221, 221);
}

.booking-button {
  background-color: #f4ce14;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  border: none;
}

.booking-button:hover {
  background-color: #bfa524;
  cursor: pointer;
}

.first-section .img {
  max-width: 24rem;
  min-width: 4rem;
  position: relative;
  top: 3.5rem;
}

.first-section .img img {
  max-width: 100%;
  border-radius: 10px;
}

.first-section p {
  width: 64%;
  font-size: 1.2rem;
}

/* .second-section */

.second-section {
  display: flex;
  justify-content: space-around;
  padding: 0 rem;
  margin-top: 4rem;
  flex-wrap: wrap;
  align-items: center;
  height: fit-content;
  gap: 16rem;
}

.second-section h1 {
  font-size: 100%;
}

/*........Styling for the Homepage Specials ..........*/

.card-container {
  display: flex; /* Use flexbox to center horizontally and vertically */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.7rem; /* Reduce the gap between cards */
  padding: 0.5rem;
  max-width: 1200px; /* Limit the container width */
  margin: 0 auto; /* Center the container on the screen */
}

.card {
  color: black;
  max-width: 19rem;
  background-color: #edefee;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding-bottom: 1.5rem;
  text-align: center;
  height: fit-content;
  cursor: pointer;
}

.card:hover {
  border: 4px solid #495e57;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.menu-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 100%;
}

.description {
  color: #495e57;
  padding: 0.2rem 2.2rem;
  height: 13rem;
  text-align: start;
}

.price {
  color: #ee9972;
}

.delivery {
  width: 2rem;
}

.card a {
  padding: 0.5rem 1rem;
}

.card a img {
  margin-left: 0.4rem;
}

.order-delivery {
  display: flex;
  justify-content: space-between;
  background-color: #ff9900;
}

.yes {
  color: red;
}

/*........Styling for the Booking Form............*/

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #495e57;
  padding: 1.2em;
}

.form-container h1 {
  font-size: 100%;
  columns: #edefee;
}

/* Style the form */
.reservation-form {
  display: grid;
  gap: 20px;
  max-width: 400px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Style labels */
.reservation-form label {
  display: block;
  margin-bottom: 8px;
}

/* Style inputs and selects */
.reservation-form input,
.reservation-form select {
  width: 100%;
  padding: 0.65rem 0;
  margin-bottom: 15px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 1rem;
  padding-left: 5px;
}

.reservation-form input::placeholder,
.reservation-form select::placeholder {
  position: absolute;
  padding-left: 5px;
  color: red;
}

/* Style the submit button */
.reservation-form button {
  background-color: #f4ce14;
  font-weight: bold;
  -webkit-flow-into: 100%;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
  font-size: 100%;
  width: 100%;
  transition: background-color 0.3s ease;
}

.reservation-form input:focus:invalid {
  border: 2px solid red;
}
/* footer */

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  background-color:#000000;
  margin-top: 2rem;
  height: fit-content;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 1rem;
  text-align: center;
}

footer li {
  cursor: pointer;
  color: #5da88f;
  font-weight: 400;
  font-size: 0.92em;
}

footer li:hover {
  border-bottom: 3px solid #f4ce14;
}

.g {
  color: yellow;
}

footer .logo {
  align-self: center;
}

footer section {
  margin: 0 auto;
}

footer .socials {
  display: flex;
  gap: 0.8rem;
  padding: 0.8rem 0;
}

footer .socials a {
  display: flex;
  background-color: #f4ce14;
  border-radius: 50%;
  padding: 0.2rem;
  height: fit-content;
  cursor: pointer;
  color: #021710;
  text-align: center;
  align-items: center;
  font-weight: bolder;
}

footer .socials a:hover {
  background-color: #b19e41;
}

@media screen and (max-width: 1150px) {
  header {
    margin: 0.4em 1em;
    padding: 0.4em 0 1em 0;
  }

  header img {
    width: 8rem;
  }
  nav {
    display: flex;
    position: absolute;
    flex-direction: row-reverse;
    justify-content: center;
    top: 0;
    background-color: hwb(160 29% 63%);
    /* backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px); */
    width: 100%;
    height: 100dvh;
    padding: 0;

    z-index: 999999;
  }

  nav ul {
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
  }

  nav ul li Link {
    font-size: 1.2rem;
    color: red;
    background-color: red;
  }

  nav .nav__close {
    position: absolute;
    right: 6.8%;
    top: 4%;
  }
}

@media screen and (min-width: 1150px) {
  .nav__toggle,
  .nav__close {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1090px) {
  .login-button {
    margin-left: 1rem;
  }
  .first-section {
    justify-content: space-between;
    padding: 1em 1em;
    height: fit-content;
    background-image: linear-gradient(
        to bottom,
        rgba(48, 55, 53, 0.4),
        rgba(25, 27, 26, 0.6)
      ),
      url(../src/Images/3d3cce7a3104bf255ed0e69195e2a157338c1bff.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -2rem;
  }

  .first-section .img {
    display: none;
  }

  .card-container {
    flex-wrap: wrap;

    gap: 0.1rem; /* Reduce the gap between cards */
    padding: 1rem;
    max-width: fit-content; /* Limit the container width */
    margin: 0 auto; /* Center the container on the screen */
    background-color: #495e57;
  }
}
@media (max-width: 768px) {
  .first-section {
    justify-content: space-between;
    padding: 1em 1em;
    height: fit-content;
    background-image: linear-gradient(
        to bottom,
        rgba(48, 55, 53, 0.4),
        rgba(25, 27, 26, 0.6)
      ),
      url(../src/Images/3d3cce7a3104bf255ed0e69195e2a157338c1bff.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -2rem;
  }

  .first-section .img {
    display: none;
  }

  .second-section {
    justify-content: space-between;
    margin-top: 1rem;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    gap: 1rem;
    padding: 0 1.2rem;
  }

  .card-container {
    flex-wrap: wrap;
    gap: 0.1rem; /* Reduce the gap between cards */
    padding: 1rem;
    max-width: fit-content; /* Limit the container width */
    margin: 0 auto; /* Center the container on the screen */
    background-color: #495e57;
  }

  .card {
    color: black;
    width: fit-content;
    background-color: #edefee;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-bottom: 1.5rem;
    text-align: center;
    height: fit-content;
  }

  .menu-price {
    justify-content: space-between;
    padding: 0 0.8rem;
  }

  .description {
    padding: 0 1rem;
    margin-top: -0.1rem;
    height: fit-content;
    text-align: start;
  }
}

@media (max-width: 480px) {
  .card-container {
    margin-top: 1rem;
  }

  .description {
    font-size: 1rem;
  }
}
